*{
     padding: 0;
     margin: 0;
}
.parent{
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.parent h1, ul,li{
    display: inline-block;
}     
a{
        text-decoration: none;
}
ul{
     margin-left: 40%;
}
li{
    padding: 15px;
}
a:hover{
    color: lightseagreen;
}
button{
    padding: 10px;
    border-radius:30px;
    background-color: aqua;
    border: none;
}
button:hover{
    opacity: 0.6;
    
}
.parent1{
    display: flex;
    margin: 30px;
   
}.parent1 .child1 div{
    padding: 10px 30px; 
    border-radius: 40px; 
    border: 2px solid blue;
    color:blue; 
    background-color: white;
    margin:40px;
}
one:hover button{
    background-color: blue;
}

.parent1 .child1 div :hover{
    background-color: blue;
}

.child1{
    margin-left: 30px;
    margin-top: 25px;
}
.child2 img{
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
    animation: animation 5s infinite;
    /* animation-name: animation;
     animation-duration: 4s; */
}
@keyframes animation{
    0%{transform: translate(0px,0px);;}
    30%{transform: translate(0px,-30px);}
    100%{transform:translate(0px,0px);}

  /* 0%  {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;} */


}
.parent2{
    display: flex;
    margin: 30px;
    justify-content: space-evenly;
}
.parent2 section{
    height: 400px;
    width: 200px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
/* .parent2 section{
    border-radius: ;
    background-color: rgb(87, 87, 185);
    color: white;
} */

.parent2 section:hover{
    background-color: blue;
    color: white;
}


section i{

    border: 10px solid blue;
    background-color: blue;
    color: white;
    border-radius: 60%;

}

section:hover i{
    border: 10px solid white;
    background-color: white;
    color: blue;
}

/* section div{
background-color: rgb(104, 224, 237); 
display: inline-block; 
color: white; 
border-radius: 50%; 
padding: 10px;
} */
/* section div:hover{
    background-color: white;
    color:blue;
    border-radius: 50%;
} */
.parent3 img{
    height: 300px;
    width: 500px;
    position: relative;
    margin: 50px;
    border-radius: 5px;
}
.parent3 .child3{
    height: 100px ;
    width: 300px;
    background-color: azure;
    position: absolute;
    top: 300%;
    padding: 30px;
    margin: 100px;
    text-align: justify;
    border-radius: 3px;
}
.parent3 .child4{
    height: 100px ;
    width: 300px;
    background-color: azure;
    position: absolute;
    top: 300%;
    right: 60px; ;
    padding: 30px;
    margin: 100px;
    text-align: justify;
    border-radius: 3px;
}
.parent3 .child5{
    height: 100px ;
    width: 300px;
    background-color: azure;
    position: absolute;
    top: 380%;
    padding: 30px;
    margin: 100px;
    text-align: justify;
    border-radius: 3px;
}
.parent3 .child6{
    height: 100px ;
    width: 300px;
    background-color: azure;
    position: absolute;
    top: 380%;
    right: 60px;
    padding: 30px;
    margin: 100px;
    text-align: justify;
    border-radius: 3px;
}
.parent3 .child3:hover{
    background-color: blue;
    color: white;
}
.parent3 .child4:hover{
    background-color: blue;
    color: white;
}
.parent3 .child5:hover{
    background-color: blue;
    color: white;
}
.parent3 .child6:hover{
    background-color: blue;
    color: white;
}
.parent4{
    display: flex;
    margin: 15px;
    justify-content: center;
}
.parent4 div{
    height: 200px;
    width: 500px;
    text-align: justify;
    margin: 20px;
    padding: 10px;
}
.parent5{
    display: flex;
    margin: ;
}
.parent5 .child7{
    margin-left: 50px;
    margin-bottom: 100px;
    padding-right: 40px;
}
.parent5 img{
    display: flex;
    /* height: 250px; */
    width: 50%;
    margin-left: 40px;
}
.parent6{
    display: flex;
}
.parent6 .child8{
    margin-left: 50px;
    height: 100px;
    width: 350px;
    text-align: justify;
}
.parent6 .child8 i:hover{
    background-color: rgb(136, 136, 238);
    color: white;
}

.parent6 .child9, .child10{
    padding: 20px 30px;
    font-size: 20px;
}
.parent6 .child10 input, textarea{
    padding: 5px ;
    width: 300px;
}  
.parent6 .child10 input:focus{
    outline: 3px solid rgb(99, 99, 216);
}
.parent6 .child10 textarea:focus{
    outline: 5px solid rgb(99, 99, 216);
}
/* footer{
    display: block;
} */
footer div{
    width: 100%;
    height: 60px;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}